/**
 * @file 
 * CSS for socialfield.
 */

/**
 * Fix multi-value field styles for social icons.
 */
.field-type-social-links-field .field-item {
  display: inline;
}

/**
 * generic social icon styles.
 */
a.socialfield {
  display: inline-block;
  margin-right: 5px;
}
.socialfield .icon {
  font-size: 24px;
  padding: 4px;
  max-width: 60px;
}

/**
 * Service-specific colors & sizes.
 */
.socialfield-reddit {
  fill: #ff4500;
}
.socialfield-slideshare {
  fill: #4a6ea9;
}
.socialfield-yahoo {
  fill: #720e9e;
}
.socialfield-facebook {
  fill: #3b5998;
}
.socialfield-twitter {
  fill: #55acee;
}
.socialfield-instagram {
  fill: #3f729b;
}
.socialfield-linkedin {
  fill: #0e76a8;
}
.socialfield-youtube {
  fill: #c4302b;
}
.socialfield-vimeo {
  fill: #44bbff;
}
.socialfield-delicious {
  fill: #222222;
}
.socialfield-digg {
  fill: #7a9ac2;
}
.socialfield-flickr {
  fill: #ff0084;
}
.socialfield-myspace {
  fill: #6087bb;
}
.socialfield-pinterest {
  fill: #c8232c;
}
.socialfield-stumbleupon {
  fill: #f74425;
}

/**
 * CSS for form / widget.
 */
#socialfield-instance-settings-services-table span.instance-settings-table-service-name {
  position: relative;
  top: -3px;
}
#socialfield-instance-settings-services-table tr {
  height: 55px;
}
#socialfield-instance-settings-services-table tr .social-links-instance-settings span {
  margin-right: 5px;
}
#socialfield-instance-settings-services-table tr .social-links-instance-settings {
  float: left;
}
.socialfield-table tr .social-links {
  float: left;
}
